<div class="p-8 mt-8 flex justify-center">
<form class="shadow border-2 rounded-md w-6/12 p-4">
    <div class="flex flex-col">
      <mat-form-field class="w-full" (ngSubmit)="addProduct()">
        <input 
        matInput
        name="name"
        [(ngModel)]="product.name"
        placeholder="Enter product name"
        type="text">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input 
        matInput
        name="description"
        [(ngModel)]="product.description"
        placeholder="Enter description"
        type="text">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input 
        matInput
        name="price"
        [(ngModel)]="product.price"

        placeholder="Enter the price of the product"
        type="text">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input 
        matInput
        name="category"
        [(ngModel)]="product.category"

        placeholder="Enter the category"
        type="text">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input 
        matInput
        name="imageUrl"
        [(ngModel)]="product.imageUrl"
        placeholder="Enter the imageUrl"
        type="text">
      </mat-form-field>
    </div>
    <div class="flex justify-center">
        <button type="submit" mat-raised-button color="primary">Add</button>
    </div>
</form>
</div>